<html>
	<head>
		<!-- Plotly.js -->
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	</head>
	<body>
		<!-- Plotly chart will be drawn inside this DIV -->
		<div id="myDiv"></div>
		<script>
			/* JAVASCRIPT CODE GOES HERE */
		
Plotly.d3.csv('/csv/PS_ProcessMonitor_History.csv', function(err, rows){
var procs_owners = ['PS', 'CSU', 'SJSU', 'Other'];
var POP_TO_PX_SIZE = 0.1;
function unpack(rows, key) {
  return rows.map(function(row) { return row[key]; });
}

var data = procs_owners.map(function(PRCS_OWNER) {
  var rowsFiltered = rows.filter(function(row) {
      return (row.PRCS_OWNER === PRCS_OWNER);
  });
  
  return {
      mode: 'markers',
      name: PRCS_OWNER,
      x: unpack(rowsFiltered, 'AVG_RUN_TIME'),
      y: unpack(rowsFiltered, 'RUN_COUNT'),
      text: unpack(rowsFiltered, 'PROC_NAME'),
      marker: {
          sizemode: 'area',
          size: unpack(rowsFiltered, 'USER_COUNT'),
          sizeref: POP_TO_PX_SIZE
      }
  };
});

var layout = {
  xaxis: {title: 'Average Run Time', type: 'log'},
  yaxis: {title: 'Total Run Count', type: 'log'},
  margin: {t: 20},
  hovermode: 'closest'
};

Plotly.plot('myDiv', data, layout, {showLink: false});
});

		</script>
	</body>
</html>
